body {
  background-image: url("fotofundo.jpeg"); /* Caminho da imagem */
  background-size: cover; /* Faz a imagem cobrir toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  height: 160vh; /* Faz a altura ocupar toda a tela */
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: black; /* Fundo escuro para contraste */
  color: rgb(243, 243, 243); /* Deixa todo o texto branco */
  font-family: Arial, sans-serif;
}
bodybody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

/* Borda arredondada */
.foto-redonda {
  width: 200px; /* Define o tamanho da imagem */
  height: 200px;
  border-radius: 50%; /* Torna a imagem completamente redonda */
  border: 5px solid rgb(0, 63, 105); /* Adiciona uma borda branca */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra leve */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
}
